<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <title>Driver Details For Appointment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="header.html"></header>
<div class="container" style="margin-top:20px">
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width:500px">
        <div class="col-sm-6 mx-auto">
            <img class="card-img-top" th:src="@{/images/avatar.png}" alt="Card image">
        </div>
        <div class="card-body">
            <h4 class="card-title">Driver Details</h4>
            <hr/>
            <div class="row" style="margin-top:10px">
                <div class="col-sm-6">
                    <p class="card-text"><b>Username:</b> <i><span th:text="${driverDetails.driverUsername}"></span></i></p>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-sm-6">
                    <p class="card-text"><b>First Name:</b> <i><span th:text="${driverDetails.driverFirstName}"></span></i></p>
                </div>
                <div class="col-sm-6">
                    <p class="card-text"><b>Last Name:</b> <i><span th:text="${driverDetails.driverLastName}"></span></i></p>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-sm-6">
                    <p class="card-text"><b>NIC:</b> <i><span th:text="${driverDetails.driverNIC}"></span></i></p>
                </div>
                <div class="col-sm-6">
                    <p class="card-text"><b>License No:</b> <i><span th:text="${driverDetails.driverLicenseNo}"></span></i></p>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-sm-6">
                    <p class="card-text"><b>Street:</b> <i><span th:text="${driverDetails.driverAddressStreet}"></span></i></p>
                </div>
                <div class="col-sm-6">
                    <p class="card-text"><b>City:</b> <i><span th:text="${driverDetails.driverAddressCity}"></span></i></p>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-sm-6">
                    <p class="card-text"><b>Province:</b> <i><span th:text="${driverDetails.driverAddressProvince}"></span></i></p>
                </div>
                <div class="col-sm-6">
                    <p class="card-text"><b>Contact:</b> <i><span th:text="${driverDetails.driverContactNo}"></span></i></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>