<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <title>Driver Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="header.html"></header>
<div class="container" style="margin-top:20px">
    <div class="card mx-auto shadow-sm p-3 mb-5 bg-white rounded" style="width:400px">
        <div class="col-sm-6 mx-auto">
            <img class="card-img-top" th:src="@{/images/avatar.png}" alt="Card image">
        </div>
        <div class="card-body">
            <h4 class="card-title">Customer Details</h4>
            <p class="card-text"><b>Name:</b> <i><span th:text="${customerDetails.customerFirstName}"></span></i></p>
            <p class="card-text"><b>From:</b> <i><span th:text="${customerDetails.customerAddressCity}"></span></i></p>
            <p class="card-text"><b>Contact:</b> <i><span th:text="${customerDetails.customerContactNo}"></span></i></p>
            <button type="button" class="btn btn-primary" onclick="history.back()">Go Back</button>
        </div>
    </div>
</div>

</body>
</html>